
.container{
display: flex;
color: white;
background-color: black;
margin: 40px 70px;
min-height: 600px;

border-radius: 5px;

}

.grid.options{
display: flex;
flex-direction: column;
margin: 40px;
min-width: 120px;
border-right: solid rgb(87, 87, 87) 2px;
padding-right:200px;
}

/*Pixel sketch header*/
#header{
font-size: 40px;
padding-bottom: 10px;
border-bottom: solid 2px rgb(99, 99, 99);
background: linear-gradient(90deg, rgb(0, 36, 242), rgb(157, 0, 255), rgb(200, 0, 255));
color: transparent;
background-clip: text;
}

/*canvas size container*/
#canvas-size{
display: flex;
flex-direction: column;
padding-bottom: 50px;
gap: 10px;

}

#canvas-size span{
    padding-bottom: 10px;
}

#canvas-size input{
    border-radius: 5px;
    border: solid black 2px;
}

#canvas-size input:hover{
    border: solid red 2px;
}

/*color dropdown container*/
#color{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    border-radius: 5px;
    border: solid black 2px;
}

#color span{
    padding-bottom: 10px;
}



/* grid layout. rows and columns*/

.grid.layout{
    display: flex;
    flex-direction: column;
    margin: 40px 40px 40px 100px;
    max-width: 600px;
    max-height: 600px;
    flex-grow: 1;
    overflow:hidden;
    justify-content: center;


}

.grid.layout .grid-col{
    flex: 1 0 auto; 
    aspect-ratio: 1; 
    min-width: 10px;
    min-height: 10px;
    background-color: white;
    border: solid black 1px;
    
}

.grid-row{
    display: flex;
    min-height: 0;
}

