
.grid.container{
display: flex;
color: white;
background-color: black;
margin: 40px 70px 40px 70px;
border-radius: 5px;

}

.grid.options{
display: flex;
flex-direction: column;
margin: 40px;
border-right: solid rgb(87, 87, 87) 2px;
padding-right: 300px;
}

/*Pixel sketch header*/
#header{
font-size: 40px;
padding-bottom: 10px;
border-bottom: solid 2px rgb(99, 99, 99);
background: linear-gradient(90deg, rgb(0, 36, 242), rgb(157, 0, 255), rgb(200, 0, 255));
color: transparent;
background-clip: text;
}

/*canvas size container*/
#canvas-size{
display: flex;
flex-direction: column;
padding-bottom: 50px;
}

#canvas-size span{
    padding-bottom: 10px;
}

/*color dropdown container*/
#color{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

}

#color span{
    padding-bottom: 10px;
}

#color-choice{

}

/* grid layout. rows and columns*/

.grid.layout{
    display: flex;
    flex-direction: column;
    width:fit-content;
    border: solid rgb(224, 224, 224) 1px;
    margin: 40px 40px 40px 40px;

}

.grid.layout .grid-col{
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border: solid black 1px;
}

.grid-row{
    display: flex;
}